@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar-brand{
    font-weight: bold;
    color: rgb(48, 196, 48);
}

.navbar-toggler i{
    color: rgb(48, 196, 48);
}

.mother{
    background-color: rgb(5, 61, 5);
}

.hero{
    padding-top: 7rem;
}

.hero-left h3{
    font-weight: bold;
    color: rgb(48, 196, 48);
    font-size: 3rem;
    /* margin-top: 9rem; */
}

.hero-left p{
    color: rgb(48, 196, 48);
    /* letter-spacing: 3px; */
}

.ctn{
    background-color: rgb(48, 196, 48);
    padding: 19px;
    border: none;
    color: rgb(5, 61, 5);
    transition: ease-in 0.3s;
}

.ctn:hover{
    font-weight: bold;
}

.hero-right img{
    /* width: 130%; */
    height: 100%;
}

.section2{
    background-color: aliceblue;
    padding: 2rem;
    text-align: center;
    justify-content: center;
}

.sub_section{
    border-right: 1px solid rgb(5, 61, 5);
}

.sub_section h4{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 1rem;
}

.sub_section i{
    font-size: 23px;
}

.nav-item{
    /* background-color: rgb(48, 196, 48); */
    margin-top: 5px;
    padding-left: 7px;
}

/* .nav-item .nav-link ::before{
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}
.nav-item .nav-link ::after{
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s;
}

.nav-item .nav-link:hover::before{
    width: 100;
} */

.offcanvas-title{
    /* background-color: rgb(5, 61, 5); */
    color: rgb(48, 196, 48);
    padding: 10px;
    border-left: 3px solid rgb(48, 196, 48);
}

.nav-item .nav-link i {
    color: rgb(53, 49, 49);
}

.ceo_div .ceo_name{
    color: rgb(48, 196, 48);
    font-size: 4rem;
    font-weight: bold;
    padding-top: 5rem;
}

.ceo_right{
    color: rgb(48, 196, 48);
    font-size: 20px;
    padding-top:5rem;
    font-size: 500;
}

.ceo_tag{
    background-color: rgb(48, 196, 48);
    padding: 10px;
    font-size: 20px;
    color: rgb(5, 61, 5);
}

.founder{
    background-color: rgb(48, 196, 48);
    color: rgb(5, 61, 5);
    padding: 2px;
    font-size: 1.2rem;
    width: 50%;
    text-align: center;
}

.founder p {
    /* padding-top: 9px; */
    position: relative;
    top: 5px;
}